.ellipse-background-blue {
    border-radius: 810px;
    background: radial-gradient(47.8% 47.8% at 50.02% 52.2%, rgba(10, 102, 194, 0.60) 0%, rgba(0, 138, 187, 0.60) 99.99%);
    filter: blur(285.85px);
    width: 700px;
    height: 700px;
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 80%;
}

.ellipse-background-purple {
    border-radius: 810px;
    background: radial-gradient(47.8% 47.8% at 50.02% 52.2%, rgba(75, 51, 142, 0.80) 0%, rgba(129, 88, 244, 0.80) 99.99%);
    filter: blur(285.8500061035156px);
    width: 700px;
    height: 700px;
    position: fixed;
    z-index: -1;
    bottom: 50px;
    left: 0;
    transform: translate(-50%, -50%);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.categories .btn {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    /* width: auto; */
    padding: 10px 16px;
}

.categories .btn.active {
    background-color: #8158F4;
    width: auto;
    border-radius: 100px;
    color: white;
    border: none;
}

.categories a{
    min-width: 120px;
    width: fit-content;
    border-radius: 100px;
    border: solid 1px rgba(255, 255, 255, 0.534);
    color: white;
    font-size: 14px;
}

.categories a:hover{
    border: solid 1px #8158F4;
    color: #8158F4;
}

.payment-deadline {
    margin-top: 10px;
    border-radius: 50px;
    background: #8158F4;
    display: inline-flex;
    padding: 5px 12px 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: white;
}

.payment-deadline-2 {
    margin-top: 10px;
    border-radius: 10px;
    background: #8158F4;
    display: inline-flex;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: white;
}

.align-left {
    align-items: flex-start;
}

.order-card {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(
        135deg,
        rgba(36, 33, 52, 0.54),
        rgba(36, 33, 52, 0.54)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.nav_aktif .nav-link {
    color: #8158F4 !important;
}

.btn[disabled] {
    border-color: transparent !important;
}

.status svg {
    margin-right: 1rem;
}

.container-orders {
    padding-top: 12vh;
}

.title {
    font-size: 22px;
    font-weight: 500;
    color: white;
    font-family: Montserrat;
}

.select-status {
    border: none;
}

.container-status {
    border: 1px solid #242134;
    border-radius: 10px;
    padding: 10px;
}

.container-status {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-status {
    width: 100%;
    padding-right: 30px;
    /* Space for arrow */
    appearance: none;
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    color: white;
}

.container-status::after {
    content: '';
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 4px;
    pointer-events: none;
}

#filter {
    align-items: center;
    border-radius: 9.141px;
    border: 0.703px solid #FFF;
    background: transparent;
}

#filters {
    align-items: center;
    border-radius: 9.141px;
    border: 0.703px solid #FFF;
    background: transparent;
}

.icon-filter {
    width: 28px;
    height: 30px;
}

.card-pesanan {
    background: transparent;
    border: 1px solid #242134;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px
}

.nama-produk {
    font-size: 5vw;
    font-weight: 600;
    font-family: Montserrat;
}

.status-nama {
    font-size: 3vw;
    font-weight: 500;
    font-family: Montserrat;
}

.span-1 {
    font-size: 3vw;
}

button.filter:focus,
button.filter:hover,
button.filter:active {
    outline: 2px solid #4a90e2;
    /* Warna outline fokus */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.8);
    /* Bayangan fokus */
    border-radius: 5px;
    /* Menambahkan radius pada outline */
}

button.filter-pesanan:focus,
button.filter-pesanan:hover,
button.filter-pesanan:active {
    outline: 2px solid #4a90e2;
    /* Warna outline fokus */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.8);
    /* Bayangan fokus */
    border-radius: 5px;
    /* Menambahkan radius pada outline */
}

a.btn.btn-bayar:focus,
a.btn.btn-bayar:hover,
a.btn.btn-bayar:active {
    outline: 2px solid #4a90e2;
    /* Warna outline fokus */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.8);
    /* Bayangan fokus */
}

.card-pesanan img{
    /* width: 100%; */
    border-radius: 10px;
    object-fit: cover;
}

.order-card img{
    border-radius: 10px;
    object-fit: cover;
}

.pagination .page-link {
    border: none;
    color: white;
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease;
}
.pagination .page-link:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 8px;
}